@import "tailwindcss";

body{
  overflow-x: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.smartcolor{
  color: #00b3c7;
}

.smartcolor-bg {
  background-color: #00b3c7;
}

shadow-customized {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}